@import '../../styles/mixins';

.userLayout {
  width: calc(100% - var(--w-sidebar));
  margin-left: auto;
  padding: calc(var(--h-header) + 42px) 40px 20px 40px;

  @include sm {
    width: 100%;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    margin-left: auto;
    margin-right: auto;
  }
}
