@import '../../../../styles/mixins';

.postCard {
  --pd-card: 26px;

  .ant-card {
    .headerCard.ant-card-head {
      padding: var(--pd-card) !important;
    }
  }

  .timeAgo {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-link-color);
  }

  .contentWrapper {
    padding: 20px 0;

    // POST IMAGES
    .postImageWrapper {
      display: flex;
      width: 100%;
      aspect-ratio: 534/262;
      overflow: hidden;
      border-radius: var(--border-radius-small);
      margin-top: 26px;

      .postImage {
        @include mid-img();
      }
    }
  }

  // INTERACTIONS
  .interactWrapper {
    display: flex;
    align-items: center;
    gap: 14px;

    .interactItem {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;

      .text {
        @include transition(color var(--duration-time));
        font-size: 12px;
        color: var(--text-link-color);
      }

      .icon {
        @include transition(var(--duration-time));
      }

      &:hover {
        .text {
          color: var(--primary-text-hover-color);
        }
        .icon {
          color: var(--primary-text-hover-color);
        }
      }
    }
  }
}
