.userCard {
  padding: 18px 14px;
  border-radius: var(--border-radius-small);
  background-color: var(--white-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color:rgb(221, 221, 221);
}
  .userInfo {
    display: flex;
    align-items: center;
    gap: 8px;

    .userName {
      font-weight: 600;
    }
  }
}
