@import '../../../../styles/mixins';

.createPost {
  background-color: var(--white-color);
  --pd: 20px;

  .createPostContainer {
    border-radius: 7px;
    overflow: hidden;
  }

  // Create Post Header
  .header {
    padding: var(--pd);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-link-color);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);

    .title {
      text-transform: capitalize;
    }

    .optionIconWrapper {
      cursor: pointer;
    }
  }

  // Create Post Conent
  .content {
    color: var(--text-link-color);
    padding: var(--pd);

    .previewListImages {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      gap: 10px;

      .previewItem {
        position: relative;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: var(--border-radius-small);
        overflow: hidden;

        .removeBtn {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 20;
          cursor: pointer;
        }
      }
    }
  }

  // Create Post Footer
  .footer {
    padding: var(--pd);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-link-color);
    background-color: var(--primary-bg-subtle-color);

    .attachmentWrapper {
      display: flex;
      align-items: center;

      .customFormItem {
        margin-bottom: 0;
        cursor: pointer;
      }

      .attechmentItem {
        color: var(--text-link-color);
        display: flex;
        padding: 0 10px;
        cursor: pointer;

        label {
          @include mid(true);
          cursor: pointer;
        }

        &:first-child {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
