@import '../../../../styles/mixins';

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  height: var(--h-header);
  background-color: var(--white-color);
  width: calc(100% - var(--w-sidebar));

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 0 14px;
  }

  .logoContainer {
    display: none;
    align-items: center;
    gap: 14px;

    .toggleSidebar {
      display: none;
      @include md {
        display: block;
      }
    }
  }

  .searchInput {
    @include transform(translateX(-50%));
    position: absolute;
    left: 50%;
    display: inline-block;

    // Hidden on tablet
    @include sm {
      display: none;
    }
  }

  // Responsive
  @include sm {
    width: 100%;

    .container {
      justify-content: space-between;
    }

    .logoContainer {
      display: flex;
    }
  }
}
